body {
    background: transparent url("../images/background.png") no-repeat fixed center center/cover;
    margin: 0;
    padding: 0;
}

.login-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 380px;
    margin: auto;
}

.login-pannel {
    position: absolute;
    left: 0;
    right: 0;
    width: 480px;
    height: 100%;
    margin: auto;
}

.title-panel {
    width: 100%;
    height: 80px;
    font-size: 3em;
    text-align: center;
    line-height: 80px;
}

.login-form {
    width: 98%;
    height: 270px;
    left: 0;
    right: 0;
    margin: auto;
}

.login-form .input-group-lg {
     margin-top: 20px;
}

.login-form .input-group-addon {
    padding: 0 10px !important;
}

.login-form .btn {
    width: 103px;
    margin-top: 20px;
}

#verification-code-img {
    cursor: pointer;
}

.layui-layer {
    margin-top: 1px;
}